.container {
    width: 98%;
    margin: 0 auto;
}

.header-el {
    background-color: #cbf7e8;
}

.hide {
    display: none !important;
}

.wrapper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.wrapper-logo {
    width: 50px;
    height: 50px;
}

.logo-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.wrapper-logo a img {
    max-width: 100%;
    min-width: 100%;
}

.text-logo {
    padding-left: 6px;
    font-weight: 600;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ------------------------modal login ------------------------ */
.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 150px;
}

.modal-login {
    width: 400px;
    height: 300px;
    padding: 50px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
}

.modal-login input {
    width: 100%;
}

.spinner {
    display: block;
    margin: 0 auto;
}

.incorrectLogin {
    text-align: center;
    color: red;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
}

/* ------------------Cards--------------------------- */

.no-items h3 {
    text-align: center;
}

.no-items {
    margin-top: 40px;
}
/* --------------------------------------------- */
/* .container {
  max-width: 1200px;
  margin: auto;
  padding: 0 16px;
}


=======
/* .header__line {
>>>>>>> main
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header__line::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  background: rgb(215, 215, 215);
  height: 2px;
}

.header__icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
}

.header__title {
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 30px;
  color: rgb(26, 142, 241);
}

.header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(26, 142, 241);
  outline: 1px solid rgb(26, 142, 241);
  font-family: "Lato", sans-serif;
  font-size: 20px;
  border-radius: 5px;
  text-decoration: none;
  width: 80px;
  height: 35px;
} */

/* FILTER FORM */

.filter {
    display: flex;
    align-items: center;
    padding-top: 40px;
}

.filter__item {
    display: flex;
    align-items: center;
}

.filter__form {
    display: flex;
    color: #434343;
}

input,
select {
    border-radius: 6px;
    border: 1px solid #f2f2f2;
    font-size: 12px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.search {
    position: relative;
}

.search img {
    position: absolute;
    left: 10px;
}

.search input {
    width: 300px;
    padding-left: 40px;
}

.search:focus,
.status:focus,
.visit-type:focus {
    color: #434343;
}

.status,
.visit-type {
    color: #434343;
    width: 200px;
    margin-left: 10px;
}

#search-btn {
    background-color: rgb(26, 142, 241);
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    width: 80px;
    height: 38px;
    font-size: 16px;
    border: rgb(26, 142, 241);
    border-radius: 6px;
    margin-left: 10px;
}

#search-btn:hover {
    background-color: rgb(17, 97, 167);
}

/* VISITS LIST */

.list-visits {
    font-family: 'Lato', sans-serif;
    padding-top: 50px;
    color: #434343;
    font-size: 16px;
    line-height: 24px;
}

.list-visits li.hide {
    display: none;
}

.list-visits li.show {
    display: block;
}

/* =---------------- */

.validData {
    color: red;
    font-size: 18px;
    font-weight: 700;
}
